#club
  #crowd
    #chooser.modal
      h2 Choose a song:
      ul
        li
          a(href="javascript:club.chooseSong('#{songs[0].ytid}')") #{songs[0].name}
  #stage
    #play-area
      #keyroll
        - for (var i = 0; i < 12; i++)
          .pitch
