#club
  #crowd
    #chooser.modal
      h2 Choose a song:
      ul
        li
          a(href="javascript:club.chooseSong('track1')") A song name
        li
          a(href="javascript:club.chooseSong('track1')") Another song name
  #stage
    p This is the stage