#club
  button#goToCrowd Select New Song
  #crowd
    #chooser.modal
      h2 Choose a song:
      ul
        - for(var i in songs)
          li
            a(href="javascript:club.chooseSong('#{songs[i].ytid}')") #{songs[i].name}
  #stage
    #videoPlayer(style="display: none")
    #time
    #play-area
      #vis
    div(style="position:absolute")
      button(onclick="player.playVideo()") Play
      button(onclick="player.pauseVideo()") Stop
      button(onclick="player.seekTo(5)") Stop

script(src='/js/modules/songvis.js', type='text/javascript')

script
  var vis = new SongVis({
    container: 'vis',
    ratio: 0.03,
    lookahead: 1150
  });
  
  var player;
  var playerPosition;
  function onYouTubePlayerAPIReady() {
    console.log('ready');
  }
  

  $("#goToCrowd").click(function(){
    player.pauseVideo();
    $('#club').removeClass('stage');
  })
  