#citybackdrop
  
  input#playername(placeholder="player name")
  
  #club1
    #sign
      h1 The Stinky Squirrel
    a#door(href="/club/stinky_squirrel")
      #knob
    
  #street
  
script
  now.ready(function(){
  
    // get all players
    now.getAllPlayers(function(allPlayers){
      $("#street").html(allPlayers.toString())
    })
  
  })
