#lobby
  h1.logo
    span Dualing Pianos!
    iframe.voter(src="http://nodeknockout.com/iframe/skookum", frameborder='0', scrolling='no', allowtransparency='true', width='115', height='25')
  
  .playit
    .playgroup
      .dude
      form(action='/club/stinky_squirrel')
        input#playername(placeholder="player name")  
        a#door(href="/club/stinky_squirrel") Play!
      
  .footer
    | <p>(Update your YouTube settings to <a href="http://www.youtube.com/html5">enable HTML5</a> first!!!)</p>
  
script
  now.ready(function(){
  
    // get all players
    now.getAllPlayers(function(allPlayers){
      //$("#playerlist").html("All Players: " + allPlayers.toString())
    })
  
  })
