#lobby
  h1.logo
    span Dualing Pianos
    iframe.voter(src="http://nodeknockout.com/iframe/skookum", frameborder='0', scrolling='no', allowtransparency='true', width='115', height='25')
  
  .playit
    .playgroup
      .dude
      input#playername(placeholder="player name")  
      a#door(href="/club/stinky_squirrel") Play!
      
  .footer  
  
script
  now.ready(function(){
  
    // get all players
    now.getAllPlayers(function(allPlayers){
      //$("#playerlist").html("All Players: " + allPlayers.toString())
    })
  
  })
