#lobby
  h1.logo
    span Dualing Pianos
  
  .playit
    .playgroup
      .dude
      input#playername(placeholder="player name")  
      a#door(href="/club/stinky_squirrel") Play!
      
  .footer

#citybackdrop
  #backdrop2
  #playerlist
  
  #club1
    #sign
    
  #street
    #playerlist
  
  a#door(href="/club/stinky_squirrel")
    #knob
    
  

  
  
script
  now.ready(function(){
  
    // get all players
    now.getAllPlayers(function(allPlayers){
      $("#playerlist").html("All Players: " + allPlayers.toString())
    })
  
  })
