#citybackdrop
  #backdrop2
  #playerlist
  
  #club1
    #sign
    
  #street
    #playerlist
  
  a#door(href="/club/stinky_squirrel")
    #knob

  input#playername(placeholder="player name")
  
script
  now.ready(function(){
  
    // get all players
    now.getAllPlayers(function(allPlayers){
      $("#playerlist").html("All Players: " + allPlayers.toString())
    })
  
  })
