h1 YouTube Tester

#videoPlayer
#time

script
  var player;
  var playerPosition;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('videoPlayer', 
    {height: '390', width: '640', videoId: '0nerqy_da30', playerVars: {'start': 10, controls: '0'} });
  }

  setInterval(function() {
    var p = player.getCurrentTime() || 0;
    position = Math.round(p * 1000);
    $("#time").html(position);
  }, 100)
