#club
  width: 200%;
  height: 100%;
  transition all 1s cubic-bezier(.77, 0, .20, 1)
  &.stage
    transform translateX(-50%)
  > div
    width: 50%;
    display: inline-block;
    position: relative;
    height: 100%;
    vertical-align top
  #stage
    perspective 50
    #play-area
      position absolute
      bottom 25%
      top -150%
      left 0
      right 0
      margin 0 auto
      perspective-origin 0 100%
      transform rotateX(5deg)
      transform-style preserve-3d
      transform-origin 0 100%
      #keyroll
        height 100%
        width 100%