#club
  width: 200%;
  height: 100%;
  transition all 1s cubic-bezier(.77, 0, .20, 1)
  &.stage
    transform translateX(-50%)
  > div
    width: 50%;
    display: inline-block;
    position: relative;
    height: 100%;
    vertical-align top