#club
  width: 100%;
  height: 100%;
  position relative
  
  #chooser
    display none 
  #vis
    opacity 0.4
  &.active 
    #chooser
      display block
  &.active.stage
    #chooser
      display none
  &.stage
    #vis
      opacity 1
  
  #status
    position fixed
    bottom 0
    left 0
    right 0
    > div
      text-align center
    .you
      display none
    .other
      display block
  &.active #status
    .you
      display block
    .other
      display none
  
  #goToCrowd
    position absolute
    top 10px
    right 10px
    z-index 9999
  #leaveClub
    position absolute
    top 30px
    left 10px
    z-index 9999
    
  > div
    width: 100%;
    position: relative;
    height: 100%;
    vertical-align top
  
  #stage
    perspective 50
    #play-area
      position absolute
      bottom 25%
      top -150%
      left 25%
      right 25%
      margin 0 auto
      perspective-origin 0 100%
      transform rotateX(5deg) translateY(0)
      transform-origin 0 100%
      z-index 0
      overflow hidden
      .keyroll
        //animation song 180s linear
        transition all 1s linear

  #meter
    position absolute
    bottom 10px
    right 10px
    width 25px
    height 200px
    border 1px solid #fff
    #hottness
      position absolute
      bottom 0
      left 0
      width 100%
      height 100%
      background two-stop(green, red, 35%, 95%)
    #mask
      border-bottom 1px solid rgba(255,255,255,.5)
      position absolute
      top 0
      left 0
      width 100%
      height 50%
      background black