@import 'reset.css';
@css {
  @import url('http://fonts.googleapis.com/css?family=Gloria+Hallelujah');
  @import url('http://fonts.googleapis.com/css?family=Andika');
}

@import 'mixins'

title-font = 'Arial', sans-serif;
body-font = 'Arial', sans-serif;

html
  background #000
  color #fff
  height 100%
  font-size 62.5%

body
  height 100%
  font 1.2em body-font
  text-rendering optimizeLegibility

@keyframes song
  0%
    -webkit-transform translateY(0)
  100%
    -webkit-transform translateY(7000px)

ul, li
  margin 0
  padding 0
  list-style none

h1, h2, h3, h4, h5, h6
  font-family title-font

a
  color #fff

h1
  font-size 2em
  margin-bottom 1em
h2
  font-size 1.5em
  margin-bottom 1em

#wrap
  overflow: hidden;
  height: 100%;

.modal
  position absolute
  width 260px
  height 260px
  padding 20px
  left 50%
  top 50%
  margin-left -150px
  margin-top -150px
  background two-stop(rgba(255,255,255,0.4), rgba(255,255,255,0.2))
  border-radius 10px
  box-shadow 0 0 30px rgba(255,255,255,0.6)
  overflow-y auto
  z-index 999
  ul
    margin 0 -20px
    li
      a
        background two-stop(rgba(255,255,255,0.3), rgba(255,255,255,0.2))
        border-bottom 1px solid rgba(255, 255, 255, 0.2)
        padding 0 20px
        display block
        padding 1em 20px
        font-size 1.25em
        &:active
          background two-stop(rgba(255,255,255,0.2), rgba(255,255,255,0.3))
          
  
@import 'lobby'
@import 'club'
@import 'vis'