#vis-test
  position absolute
  top 0
  right 0
  width 400px
  height 600px
  
.songvis
  height 100%
  position relative
  width 100%
  overflow hidden
  
.keyroll
  display table
  border solid 1px #000
  width 100%
  background #eee
  height 0
  position absolute
  bottom 0
  left 0
  
.pitch
  display table-cell
  height 100%
  > div
    position relative
    border-left solid 2px #ddd
    border-right solid 2px #999
  &.highlight
    background #ccc

.key
  background #777
  background -webkit-gradient(linear, left top, right top, color-stop(0%,#ddd), color-stop(100%,#777))
  background -webkit-linear-gradient(left, #ddd 0%, #777 100%)
  width 100%
  height 20px
  display block
  position absolute
  border-bottom solid 5px #000
  border-radius 10px 10px 5px 5px
  
  &.red
    background #700
  
  &.yellow
    background #770
    
  &.blue
    background #007
  
  &.active
    background #f00
    
  &.dead
    background #0f0
  
.playhead
  width 100%
  height 2px
  background #f00
  position absolute
  bottom 0px