#vis-test {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 600px;
}
.songvis {
  height: 100%;
  position: relative;
  width: 100%;
  overflow: visible;
}
.keyroll {
  display: block;
  background: #fff;
  border: solid 1px #000;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.pitch {
  display: inline-block;
  width: 8.3%;
  background: #eee;
  height: 100%;
  position: relative;
}
.key {
  background: #333;
  width: 100%;
  height: 20px;
  display: block;
  position: absolute;
}
.key.active {
  background: #f00;
}
.playhead {
  width: 100%;
  height: 2px;
  background: #f00;
  position: absolute;
  bottom: 0px;
}
