!!! 5
html
  head
    meta(charset="utf-8")
    title NKO2 - Skookum
    link(rel='stylesheet', href='/styles/layout.css' )
    
    script(src='/js/lib/jquery-1.6.2.min.js', type='text/javascript')
    script(src='/js/lib/amplify.min.js', type='text/javascript')
    script(src='/nowjs/now.js', type='text/javascript')
    script(src='http://www.youtube.com/player_api', type='text/javascript')
    
    script(src="/js/club.js")
    
  body
    #wrap!= body
    