!!! 5
html
  head
    meta(charset="utf-8")
    title New node project
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", type="text/javascript")
    link(rel='stylesheet', href='/styles/layout.css' )
    script(src="/js/club.js")
  body
    #wrap!= body